# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
appsettings.json
Program.cs
/.vs/azzanorder.client/FileContentIndex/57028e86-c9f1-4c19-8f97-ce2b897f8e7f.vsidx
/.vs/azzanorder.client/FileContentIndex/73562844-bb4d-4ee1-9706-a69b817a91e8.vsidx
